* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 720px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
}

.header {
    background-color: #829985;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    position: relative;
    padding: 0 12px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    color: #fff; 
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 12px;
    bottom: -5px;
    width: calc(100% - 24px);
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transition: 0.5s;
}

.nav-link:hover::after {
    opacity: 1;
    animation-name: slidein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slidein {
    from {
    width: 0;
    }
    to {
    width: calc(100% - 24px);
    }
}

.main {
    margin-bottom: auto;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 15px solid #d7d1c9;
}

.section-profile-logo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgb(0 0 0/60%);
}

.section-profile-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
}

.main-title {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    color: #4d2323;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 50px;
    word-spacing: 3px;
}

.main-title::after {
    content: "";
    position: absolute;
    bottom: -19px;
    left: 50%;
    margin-left: -70px;
    width: 140px;
    height: 2px;
    background-color: #829985;
}

.section-subtitle {
    margin-top: 20px;
    color: #5c5c5c;
    line-height: 50px;
    font-weight: 300;
    letter-spacing: 2px;
}

.section {
    width: calc(50% - 20px);
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 1px solid #672f2f;
}

.section-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
}

.section-languages {
    width: 100%;
    padding: 10px;
    padding-bottom: 35px;
}

.section-title-languages {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
}

.section-item-languages {
    text-align: center;
}

.section-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.section-item {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 0px;
}
/*
.section-item::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 2px;
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
}*/

.section-item a {
    text-decoration: none;
    color: #829985;
    transition: color 1s;
}

.icon {
    display: inline-block;
    position: relative;
    width: 30px;
    font-size: 25px;
    color: #829985;
}

.icon-circle {
    display: inline-block;
    position: relative;
    width: 20px;
    font-size: 15px;
    color: #829985;
}

.pre {
    padding: 0;
    margin: 0;
}

.footer {
    background-color: #829985;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0, auto;
    color: #fff;
}

.github {
    color: #fff;
    text-decoration: none;
    line-height: 45px;
}

.rss {
    width: 121px;
    height: 45px;
    background-image: url(/rsschool-cv/img/rss.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.footer-left-side {
    justify-content: space-around;
}

.icon-footer{
    margin-left: 10px;
    display: inline-block;
    position: relative;
    width: 10px;
    font-size: 25px;
    color: black;
}


/*.nav-link {
    position: relative;
    padding: 0 12px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
}

.nav-link::before {
	content: '';
	position: absolute;
	left: 5; 
    bottom: -5px;
	width: 0%;
	height: 2px;
	background-color: #fff;
    transition: 0.5s;
}

.nav-link:hover:before {
	width: 80%;
}
*/
/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppings', sans-serif;
}
body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container .main {
    position: relative;
    width: 600%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 0px 50px 50px 50px;
    background: #fff;
    box-shadow: 10px 10px 40px -1px rgb(0, 0, 0, 0.8);
    display: grid;
    grid-template-columns: 1fr 2fr; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b3b3b;
    padding: 15px 30px;
    position: flex;
    width: 1000px;
    z-index: 1000;
}

.nav-linklogo {
    text-decoration: none;
}

.nav-logo {
    max-width: 40px;
}

.nav-list {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.nav-list {
    display: inline;
    list-style-type: none;
}

.nav-item {
    display: inline;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.container .lef-column {
    position: relative;
    background: #003147;
    padding: 40px;
}

.profile-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background-color: aliceblue;
}

.profile-text img {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid aqua;
    overflow: hidden;
    margin: 10px;
}

.profile-text h1 {
    color: white;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;

}

.profile-text h2 {
    color: #fff;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 300;
}

.contact-info {
    padding-top: 40px;
}

.titel {
    color: #fff;
    text-align: center;
    background-color: gray;
    text-transform: uppercase;
    font-size: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding: 10px;
}

.contact-info ul {
    position: relative;
}

.contact-info ul li {
    position: relative;
    list-style: none;
    margin: 15px 0;
    color: #fff;
    cursor: pointer;
}

.contact-info ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.container .right-column {
    position: relative;
    background: red;
    padding: 40px;
}
*/